{
 :deps {
        org.clojure/clojure {:mvn/version "1.11.1"}
        cheshire/cheshire {:mvn/version "5.13.0"}
        http-kit/http-kit {:mvn/version "2.8.0"}
        hiccup/hiccup {:mvn/version "2.0.0-RC3"}
        }
 :paths ["src"]
 }
